.setembroClass {
    background-color: yellow;
    color: black;
    width: 500px;
    text-align: center;
}

.outubroClass {
    background-color: pink;
    color: black;
    width: 500px;
    text-align: center;
}

.novembroClass {
    background-color: blue;
    color: black;
    width: 500px;
    text-align: center;
}